<% layout('layouts/boilerplate') %>

    <body>
        <h1>Welcome Back to SchwartzShare!</h1>
        <br>
        <br>
        <h5>Remember it's important to enjoy things in moderation even SchwartzShare!</h5>

    </body>